@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
}

.center div:nth-child(2) {
  margin: 15px 0;
}

p {
  background-color: transparent;
  color: #1c3341;
  display: inline;
  opacity: 0;
}

#dots {
  opacity: 1;
}

a {
  opacity: 0;
  text-decoration: none;
  color: #008773;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
}

canvas {
  position: fixed;
  background-color: white;
}
